argh==0.26.2
cssselect==0.9.1
cycler==0.10.0
decorator==3.4.2
inflect==0.2.5
itsdangerous==0.24
Jinja2>=2.8
MarkupSafe==0.23
networkx==1.9.1
pathtools==0.1.2
pyenchant==1.6.6
pyparsing==2.1.1
PyYAML==3.11
six==1.10.0
vboxapi==1.0
virtualenv==12.1.1
watchdog==0.8.3
Werkzeug==0.10.4
when-changed==0.3.0
