argh==0.26.2
csc-pysparse==1.1.1.4
csc-utils==0.6.7
cssselect==0.9.1
cycler==0.10.0
decorator==3.4.2
Divisi2==2.2.5
Django==1.8
Flask==0.10.1
inflect==0.2.5
itsdangerous==0.24
Jinja==1.2
Jinja2==2.8
lxml==3.5.0
MarkupSafe==0.23
matplotlib==1.5.1
networkx==1.9.1
nltk==3.0.2
numpy==1.11.0
pathtools==0.1.2
peewee==2.6.3
pyenchant==1.6.6
pyparsing==2.1.1
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
scipy==0.17.0
simplenlp==1.1.2
six==1.10.0
vboxapi==1.0
virtualenv==12.1.1
watchdog==0.8.3
Werkzeug==0.10.4
when-changed==0.3.0
