@import _mixins
@import global

$color1: $green /*#bcd864*/
$color1-fade: #9db848
$color2: #ca5234
$color2-fade: #ec957f

h1
  margin-bottom: 1.5em
  text-align: left

h1, .title
  font-family: Georgia, Trebuchet, serif
  a
    color: #666
    &:hover
      color: $green

/* sidebar */

#sidebar
  padding-top: 30px
  height: 100vh
  text-align: right
  +nav-font
  //+unselectable

  .header
    display: block
    margin: 1em 0 0.5em 0
    padding-top: 10px
    color: #777

  a
    display: block
    margin: 0.5em 0
    text-decoration: none
    padding-top: 1px
    &.selected
      border-right: 4px solid $red

  .header, a
    padding-right: 0.5em
    border-right: 4px solid transparent

/* end sidebar */
/* layout */

#main
  ::-webkit-scrollbar
    display: none
  max-height: 100%
  overflow: scroll
  padding: 1em
  padding-right: 3em

.item
  position: relative
  margin: 0 auto
  margin-bottom: 2em
  &:not(.longform)
    min-height: 350px

  .title
    font-size: 24px
    margin-bottom: 0.25em
  .subtitle
    margin-bottom: 1em
  img
    max-width: 100%
    max-height: 50vh
    +border-radius(0.25em)

.photoset
  position: relative
  white-space: nowrap
  max-height: 500px
  width: 100%
  overflow: scroll

  img
    height: 100%
    margin-right: 5px
    &:last-child
      margin-right: 0

.video
  img
    width: 500px
    +border-radius(0)

.splash
  .splash-image
    height: 100%
