/*** site-wide styling ** */
body, html {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0 auto;
  padding: 0 auto;
  text-rendering: optimizeLegibility;
  font-family: Georgia, Trebuchet, serif;
  font-size: 18px;
  font-weight: 300; }

a {
  text-decoration: none;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #57bf43; }
  a:link, a:visited {
    color: #57bf43; }
  a:hover {
    color: #e62e00;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Georgia, Trebuchet, serif;
  letter-spacing: 1.1pt; }

h1 {
  width: 100%;
  border-bottom: 1px solid #000;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 0.5em; }

h2 {
  margin-bottom: 10px; }
  h2:not(:first-child) {
    margin-top: 1.5em; }

/*** classes ** */
.hidden {
  display: none !important; }

.strikethrough {
  text-decoration: line-through; }

.grey {
  color: #aaa; }

.scshape {
  text-transform: uppercase; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

::-webkit-scrollbar {
  display: none; }

h1 {
  margin-bottom: 0.5em;
  text-align: left;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.15em; }

.title {
  font-family: Georgia, Trebuchet, serif; }

.group-subtitle {
  margin-top: 0; }

.group-content {
  margin-top: 1.5em; }

h1 a, .title a {
  color: #666; }
  h1 a:hover, .title a:hover {
    color: #57bf43; }

.emph {
  font-weight: bold; }

a.link {
  cursor: pointer; }

/* sidebar */
#sidebar {
  padding-top: 30px;
  height: 100vh;
  text-align: right;
  letter-spacing: 1.3pt;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9pt;
  text-transform: uppercase;
  overflow: scroll; }
  #sidebar .header {
    display: block;
    margin: 1em 0 0.5em 0;
    padding-top: 10px;
    color: #777; }
  #sidebar a.link {
    display: block;
    margin: 0.5em 0;
    text-decoration: none;
    padding-top: 1px; }
    #sidebar a.link.inline {
      display: inline-block;
      margin: 0; }
    #sidebar a.link.selected {
      border-right: 4px solid #e62e00; }
  #sidebar .header, #sidebar a.link {
    padding-right: 0.5em;
    border-right: 4px solid transparent; }

/* end sidebar */
/* layout */
body {
  overflow: hidden; }

body > .row {
  height: 100%; }

#main {
  height: 100%;
  overflow: scroll;
  padding: 1em;
  padding-right: 3em; }
  #main ::-webkit-scrollbar {
    display: none; }

.page:not([data-page-id=index]) img {
  max-width: 100%;
  max-height: 75vh;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em; }

.item {
  position: relative;
  margin: 0 auto;
  margin-bottom: 2em; }
  .item:not(.longform) {
    min-height: 360px; }
  .item .title {
    font-size: 24px;
    margin-bottom: 0.25em; }
  .item .subtitle {
    margin-bottom: 1em; }

.photoset {
  position: relative;
  white-space: nowrap;
  height: 450px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: scroll; }
  .photoset .photo {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: auto;
    margin-right: 5px; }
    .photoset .photo:last-child {
      margin-right: 0; }
  .photoset img {
    height: 90%; }

.video img {
  width: 500px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.splash .splash-image {
  width: 75px;
  height: 75px; }
.splash .splash-text {
  vertical-align: top;
  display: inline-block;
  margin-left: 0.5em;
  font-family: "Courier New", Courier, monospace; }
.splash h1, .splash h2, .splash h3, .splash h4, .splash h5, .splash h6 {
  font-family: "Courier New", Courier, monospace; }

.note {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt; }

.mono {
  font-family: "Courier New", Courier, monospace; }

/*# sourceMappingURL=index.css.map */
