<div ng-init="activePageId='{{ page_id }}'">

<div class="header"></div>
<div internal-link page-id="index" text="<i class='fa fa-home'></i> rfong.github.io"></div>

<div class="header">Code / etc.</div>
<a class="link" href="resume.pdf">
  <i class="fa fa-file-text"></i> resume</a>
<a class="link" href="http://rfong.github.io/rflog">
	blog</a>
<div internal-link page-id="hacks" text="afternoon hacks"></div>
<div internal-link page-id="projects" text="personal projects"></div>
<!--
<div>
    <a class="link inline" href="http://github.com/rfong"><i class="fa fa-github"></i></a>/
    <a class="link inline" href="http://gist.github.com/rfong">scripts</a>
</div>
-->

<div class="header">Photo+</div>
<div internal-link page-id="firespinning" text="firespinning"></div>
<div internal-link page-id="calendars" text="calendars"></div>
<div internal-link page-id="photo" text="et cetera"></div>
<div internal-link page-id="video" text="<i class='fa fa-video-camera'></i> videos"></div>
<a class="link" href="http://flickr.com/rfong">
  <i class="fa fa-camera"></i> flickr</a>

<div class="header">Visual & Craft</div>
<div internal-link page-id="masks" text="masks"></div>
<div internal-link page-id="art" text="curiosities"></div>
<a class="link" href="http://distractibility.github.io">
  <i class="fa fa-book"></i> zines</a>
<a class="link" href="https://www.instagram.com/skollipsism/">
  <i class="fa fa-instagram"></i> instagram</a>
<a class="link" href="http://rflog.tumblr.com">
  <i class="fa fa-tumblr-square"></i> craft blog</a>
<a class="link" href="https://www.redbubble.com/people/skollipsism">
  <i class="fa fa-print"></i> print shop</a>
<a class="link" href="https://gumroad.com/skollipsism">
  <i class="fa fa-file"></i> digital shop</a>
</div>
