<div ng-init="activePageId='{{ page_id }}'">

<div class="header">Photo+</div>
<div internal-link page-id="firespinning" text="firespinning"></div>
<div internal-link page-id="calendars" text="homononerotic sports calendars"></div>
<div internal-link page-id="photo" text="et cetera"></div>
<a class="link" href="http://flickr.com/rfong">
  <i class="fa fa-external-link"></i> flickr</a>

<div class="header">Code / etc.</div>
<div internal-link page-id="hacks" text="afternoon hacks"></div>
<div internal-link page-id="projects" text="personal projects"></div>
<a class="link" href="resume.pdf">
  <i class="fa fa-external-link"></i> resume</a>

<div class="header">Art</div>
<div internal-link page-id="masks" text="masks"></div>
<div internal-link page-id="art" text="curiosities"></div>
<a class="link" href="http://rflog.tumblr.com">
  <i class="fa fa-external-link"></i> art blog</a>
<a class="link" href="https://www.instagram.com/skollipsism/">
  <i class="fa fa-instagram"></i> WIPs</a>

<div class="header"></div>
<div internal-link page-id="index" text="<i class='fa fa-home'></i>"></div>

</div>
