{% extends '_layout.html' %}

{% block content %}

<h1>firespinning</h1>
<div class="item">
  <p>
    I photograph fire artists with an emphasis on candid action portraiture that expresses their individual movement styles.<br/>
    I also spin rope dart, poi, and fans.<br/>
  </p>
  <p>
  Breakdowns on how I approach fire photography: <a href="https://medium.com/@rhetoricize/fire-photography-part-i-equipment-e0f730be59ae">1. equipment</a> | <a href="https://medium.com/@rhetoricize/fire-photography-part-ii-technique-non-flash-portraiture-cc621b019fd7#.p0jc7oeh6">2. technique</a><br/>
  See more: 
    <a href="https://www.flickr.com/photos/rfong/sets/72157666436074916">on flickr</a> / 
    <a href="https://vimeo.com/channels/1073621">on vimeo</a>
  </p>
  <div photoset photos="photosets.firespinning"></div>
	<p>
		<iframe width="640" height="360" src="https://www.youtube.com/embed/58PNeHNrBgQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</p>
  <p>
		<iframe width="640" height="360" src="https://www.youtube.com/embed/1i_SspcN7Xc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
  <p>
    <iframe src="https://player.vimeo.com/video/166598698" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </p>
</div>

{% endblock %}
