{% extends '_layout.html' %}

{% block content %}

<h1>firespinning</h1>
<div class="item">
  <p>
    Started spinning and photographing fire a few days before 2016. I primarily spin rope dart, poi, and fans.<br/>
    <a href="https://www.flickr.com/photos/rfong/sets/72157666436074916">on flickr</a> / 
    <a href="https://vimeo.com/channels/1073621">on vimeo</a>
  </p>
  <p>
  Writeups on how I do fire photography: <a href="https://medium.com/@rhetoricize/fire-photography-part-i-equipment-e0f730be59ae">1. equipment</a> | <a href="https://medium.com/@rhetoricize/fire-photography-part-ii-technique-non-flash-portraiture-cc621b019fd7#.p0jc7oeh6">2. technique</a><br/>
  </p>
  <div photoset photos="photosets.firespinning"></div>
  <p>
    <iframe src="https://player.vimeo.com/video/169943037" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </p>
  <p>
    <iframe src="https://player.vimeo.com/video/166598698" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </p>
</div>

{% endblock %}
