{% extends '_layout.html' %}

{% block content %}

<h1>firespinning</h1>
<div class="item">
  <p>Started spinning and photographing fire a few days before 2016.<br/>I usually shoot fire with a Sony A7 and SMC Takumar 135mm f/3.5, handheld, no flash.
  <div photoset photos="photosets.firespinning"></div>
  <p>
    <iframe src="https://player.vimeo.com/video/169943037" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </p>
  <p>
    <iframe src="https://player.vimeo.com/video/166598698" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </p>
</div>

{% endblock %}
