{% extends "_layout.html" %}

{% block content %}

<div class="splash">
  <img class="splash-image" src="/images/skollmask_deepdream.jpg" />
  <span class="splash-text">
    <b>rfong</b><br/>
    > whoami<br/>
  </span>
  <p></p>

  <div class="note">
  <h4>currently leveling up on</h4>
  <p>
    CRDTs, keyboard firmware, studying japanese, distributed community building, teaching complex topics in engaging & approachable ways, sustainable living<br/>
		living an intentional, mindful, and fulfilling life<br/>
	</p>
	<p><a href="https://medium.com/@rhetoricize/table-of-contents-77c710ba0c4">longform articles</a></p>

  <h4>on sporadic pandemic hiatus</h4>
  <p>
    aerial silks training, dance performance, solo hammock backpacking
  </p>
  </div>
</div> 

{% endblock %}
