{% extends "_layout.html" %}

{% block content %}

<div class="splash">
  <img class="splash-image" src="/images/skollmask_deepdream.jpg" />
  <span class="splash-text">
    <b>rfong</b><br/>
    > whoami<br/>
  </span>
  <p></p>

  <div class="note">
  <h4>currently leveling up on</h4>
  <p>
		violin/fiddling, aerial silks, japanese, sourdough, sketchnoting, synthesizers<br/>
		living an intentional and fulfilling life<br/>
	</p>

  <h4>skills of frequent professional relevance</h4>
  <p>software engineering & computer science (various, since 2001), photography & videography</p>

  <h4>skills of occasional professional relevance</h4>
  <p>event organization, writing, speedcubing, classical piano, robotics, construction, branding & graphic design, hand lettering, teaching complex topics, making people laugh</p>

	<h4>how</h4>
	<p><a href="https://medium.com/@rhetoricize/table-of-contents-77c710ba0c4">see here</a></p>
  </div>
</div> 

{% endblock %}
