{% extends "_layout.html" %}

{% block content %}

<div class="splash">
  <img class="splash-image" src="/images/skollmask_deepdream.jpg" />
  <span class="splash-text">
    <b>rfong</b><br/>
    > whoami<br/>
  </span>
  <p></p>

  <div class="note">
  <h4>currently leveling up on</h4>
  <p>violin/fiddling, aerial silks, japanese, sourdough, sketchnoting, synthesizers</p>

  <h4>skills of frequent professional relevance</h4>
  <p>software engineering & computer science (various, since 2001), photography & videography</p>

  <h4>skills of occasional professional relevance</h4>
  <p>event organization, writing, intrigue, speedcubing, classical piano, robotics, construction, branding & graphic design, teaching arbitrarily complex topics, making people laugh</p>
  </div>
</div> 

{% endblock %}
