{% include "_head.html" %}

<style>
body {
	padding: 1em 2em;
	max-width: 800px;
}
</style>


<div><a href="https://rfong.github.io"><i class='fa fa-home'></i> <code>rfong.github.io</code></a></div>

<h1>content</h1>
<div>
	<ul>
		<li><a href="https://distractibility.github.io/">Distractibility Cartographers</a> (my zine collective)</li>
		<li>Patreon: <a href="https://patreon.com/skollipsism">@skollipsism</a></li>
		<li>Medium: <a href="https://medium.com/@rhetoricize">@rhetoricize</a>
		<li>Instagram: <a href="https://instagram.com/skollipsism">@skollipsism</a></li>
		<li>Tumblr: <a href="http://rflog.tumblr.com/">@rflog</a></li>
	</ul>
</div>

<h1>shops</h1>
<div>
    <ul>
				<li>Gumroad: <a href="https://gumroad.com/skollipsism">zines, workbooks, digital downloads</a></li>
        <li>Redbubble: <a href="http://www.redbubble.com/people/skollipsism">stickers & prints</a></li>
        <li>Zazzle: <a href="https://www.zazzle.com/thetechnocrat">calendars</a></li>
        <li>Lulu: <a href="http://www.lulu.com/shop/search.ep?contributorId=1462209">books</a></li>
    <ul>
</div>
