{% extends '_layout.html' %}

{% block content %}

<h1>shop</h1>
<div>
    <ul>
        <li><a href="http://www.redbubble.com/people/skollipsism">stickers & prints</a> @ Redbubble</li>
        <li><a href="https://www.zazzle.com/thetechnocrat">calendars</a> @ Zazzle</li>
        <li><a href="http://www.lulu.com/shop/search.ep?contributorId=1462209">books</a> @ Lulu</li>
    <ul>
</div>

<h1>blogs</h1>
<div>
	<ul>
		<li><a href="https://medium.com/@rhetoricize">@rhetoricize - How-to blog</a></li>
	</ul>
</div>

{% endblock %}
