{% extends '_layout.html' %}

{% block content %}
<h1>blogs</h1>
<div>
  <p>every rfong blog ever</p>
  <ul>
    <li><a href="http://mitadmissions.org/blogs/author/rfong/archives">MIT Admissions blog</a> - the world's greatest part time job</li>
    <li><a href="https://medium.com/@rhetoricize">rhetoricize</a> - completed technical breakdowns of various topics</li>
    <li><a href="http://exuviae.tumblr.com">exuviae</a> - what it is like to live inside of my meat brain</li>
    <li><a href="http://rflog.tumblr.com">rflog</a> - art blog since 2011</li>
    <li><a href="http://rfeat.tumblr.com">rfeat</a> - food blog, mostly inactive</li>
    <li><a href="http://literrata.tumblr.com">literrata</a> - occasional creative writing</li>
  </ul>
</div>

<h1>_whoami.partial</h1>
<div>
  <ul>
    <li><a href="https://www.goodreads.com/review/list/35376396?shelf=books-that-shaped-me">books that shaped me</a></li>
    <li><a href="http://mitadmissions.org/blogs/entry/imbibing-the-nostalgia-punch">Imbibing The Nostalgia Punch</a></li>
    <li><a href="http://mitadmissions.org/blogs/entry/blogging-is-the-salt-shaker-of-my-life">Blogging Is The Salt Shaker Of My Life</a></li>
    <li><a href="http://exuviae.tumblr.com/post/145053348989/">the first sunrise in a while</a></li>
    <li>I like NVC and decoupling negative emotions from their seeming triggers</li>
    <li>I believe that deep interpersonal connections are the truest meaning in life</li>
    <li>But also I can't stop doing technical deconstructions of topics and skills because it is fun and gratifying</li>
  </ul>
</div>
{% endblock %}
